.vs
obj
/DriveErrorTest/bin/Debug/DriveErrorTest.vshost.exe.config
/DriveErrorTest/bin/Debug/DriveErrorTest.vshost.exe.manifest
/DriveErrorTest/bin/Release/DriveErrorTest.vshost.exe.config
/DriveErrorTest/bin/Release/DriveErrorTest.vshost.exe.manifest
/DriveErrorTest/bin/Debug/DriveErrorTest.vshost.exe
*.config
*.pdb
